* {
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  box-sizing: border-box;
}

.main {
  height: 100vh;
  color: white;
  background: black;
  display: flex;
  justify-content: center;
  align-content: space-evenly;
  flex-wrap: wrap;
}

.z-index {
  z-index: 1;
}

.display-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.t-center {
  text-align: center;
}

.display-hide {
  display: none;
}

.detail-element {
  border: 1px dashed lightblue;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.detail-element p {
  flex: 0 0 100%;
  text-align: center;
}

.all-details {
  height: 70%;
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-50 {
  width: 50%;
}
